<p style="text-decoration: underline;color:#34174e" class="h1 text-center custom-heading">OUR PACKAGES</p>

<div class="parent-frame">
<div class="data-f1-1">
  <div class="card">
    <div class="card-content">
      <div class="card-header">
        <div class="galaxy-background1"></div>

        <h2>STANDARD STAR GIFT PACK</h2>
        <p class="price"><span class="original-price">₹3,386.70</span> ₹1999.00</p>
        <p class="offer">Limited Offer: One Free Gift Included</p>
      </div>
      <div class="card-body">
        <p>This package allows you to name a star that is visible in your area.</p>
        <ul *ngFor="let name3 of nameOption3;let i=index">
          
          <li>{{name3.key}}</li>
          <span *ngIf="i>=nameOption3.length-2">
            </span>
        </ul>
      </div>
      <div class="card-footer">
        <button class="order-button btn" (click)="Frame1()" routerLink="/star-registration">ORDER NOW</button>
        <p class="delivery">ESTIMATED DELIVERY:{{desireDate}}</p>
      </div>
    </div>
  </div>

</div>
<div class="data-f1-2">
  <div class="card">
    <div class="card-content">
      <div class="card-header">
        <div class="galaxy-background2"></div>

        <h2>STAR WITH FRAME</h2>
        <p class="price"><span class="original-price">₹4,276.70</span> ₹2999.00</p>
        <p class="offer">Limited Offer: One Free Gift Included</p>
      </div>
      <div class="card-body">
        <p>This package allows you to name a star that is visible in your area.</p>
        <ul *ngFor="let name1 of nameOption1">
          
          <li>{{name1.key}}</li>
        </ul> 
      </div>
      <div class="card-footer">
        <button class="order-button btn" (click)="Frame2()" routerLink="/star-registration">ORDER NOW</button>
        <p class="delivery">ESTIMATED DELIVERY: {{desireDate}}</p>
      </div>
    </div>
  </div>

</div>
<div class="data-f1-3">
  <div class="card">
    <div class="card-content">
      <div class="card-header">
        <div class="galaxy-background3"></div>

        <h2>STAR WITH GIFT BOX</h2>
        <p class="price"><span class="original-price">₹7,545.00</span> ₹4999.00</p>
        <p class="offer">Limited Offer: One Free Gift Included</p>
      </div>
 <div class="card-body">
        <p>This package allows you to name a star that is visible in your area.</p>
        <ul *ngFor="let name2 of nameOption2">
          <li>{{name2.key}}</li>
</ul>
      </div>
      <div class="card-footer">
        <button class="order-button btn" (click)="Frame3()" routerLink="/star-registration">ORDER NOW</button>
        <p class="delivery">ESTIMATED DELIVERY: {{desireDate}}</p>
      </div>
    </div>
  </div>

</div>

</div>

 




















  