.card p span{
  color:#FF6F61
}











  #inputForm {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    z-index: 2;
    background: rgb(67, 67, 166);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#starIdInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#submitBtn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 300px;
    margin-top: 20px;
    z-index: 2;
}

.card p {
    margin: 10px 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #777;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #333;
}

#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#starIdInput,
#submitBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#submitBtn {
    background-color: #1cb5e0;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#submitBtn:hover {
    background-color: #0d8abc;
}

@media (min-width: 768px) {
    #inputForm, .card {
        left: 14%;
        transform: none;
    }
}
