.data{
    /* margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a; */
    /* background:linear-gradient(green,yellow); */
    width:100%;
    height: 100%;
   
    }
    .row
    {
        display:flexbox;
        justify-content: center;
        align-items: center;
    }
    input.ng-touched.ng-invalid
{
  border: 2px solid red;
}
input.ng-touched.ng-valid
{
  border:2px solid green;
}
