<nav class="nav1">
    Valentines Day Sale:37% OFF EVERYTHING
    </nav>
    <nav class="nav2">
        <ul>
            <li><a routerLink="/rating">Excellent</a></li>
            <li><a routerLink="/blog">English</a></li>
          <li><a routerLink="/dashboard">INR</a></li>
          <li ><a routerLink="/">checkOut</a></li>
          <li><a (click)="navigateToAccount()">{{ isLoggedIn ? 'My Profile' : 'My Account' }}</a></li>

          <li><a routerLink="/services">TRACK YOUR ORDER/PDF</a></li>
          <li><a routerLink="/contact">Find Your Star</a></li>
          
        </ul>
      </nav>
     
      <nav class="nav3">
        <ul>
            <li><a routerLink="/rating">DHOOTHASTARREGISTARION.COM</a></li>
            <li><a routerLink="/navbar">HOME</a></li>
          <li><a routerLink="/drop">ORDER</a></li>
          <li ><a routerLink="/">DELIVERY & PAYMENTS</a></li>
          <li><a routerLink="/about">REVIEWS</a></li>
          <li><a routerLink="/contact">CONTACT</a></li>
          <a routerLink="/drop">
            <button   type="button" class="btn btn-success data-button">Buy Now</button>
          </a>
          
        </ul>
      </nav>




























      