
 .nav2{
  background-color:rgb(65, 45, 78);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.nav2 ul li a {
  display: block;
  color:#6c6363;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s; /* Add a smooth transition effect */
  color:#fff;

}

li a:hover {
  background-color: #555;
}

.nav2 ul {
  width: 100%;
  text-align: center;
}
.nav1
{
  background-color: pink;
  width:100%;
  height:65px;
  font-size:22px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav3 {
  background-color:indigo;
  padding: 15px 0; /* Adjust top and bottom padding */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

li a:hover {
  background-color: #555;
}

.nav3 ul {
  width: 100%;
  text-align: center;
  height:65px;

}
.nav3 ul li{
  font-size:18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.nav3 ul li:first-child
{
  margin-right:180px;
}
.nav3 ul li:last-child
{
  margin-left:110px;
}
.nav2 ul li{
  font-size:18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav2 ul li:first-child
{
  margin-right:480px;
}
.data-theory
{
  width:650px;
  overflow:hidden;
  margin-left:60px;
  margin-top:-455px;
}
.part
{
  font-size:22px;
}
.p1-data
{
  margin-left:0px;
  width:200px;
  height:65px;
}
.p2-data
{
  width:200px;
  height:65px;
}
.data-button
{
  width:150px;
  height:55px;
  background:green;
  font-size:22px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
li a:hover {
  background-color: #555;
}

.nav3 ul {
  width: 100%;
  text-align: center;
  height:65px;

}
.nav3 ul li{
  font-size:18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.nav3 ul li:first-child
{
  margin-right:180px;
}
.nav3 ul li:last-child
{
  margin-left:110px;
}
.nav2 ul li{
  font-size:18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav2 ul li:first-child
{
  margin-right:480px;
}
.data-button
{
  width:150px;
  height:55px;
  background:green;
  font-size:22px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
} 



.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s; 
}

.dropdown-content a:hover {
  background-color: #ddd; 
  color: #333; 
}








.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content li {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav2-dropdown, .nav3-dropdown {
  position: relative;
  display: inline-block;
}

.nav2-dropdown:hover .dropdown-content, .nav3-dropdown:hover .dropdown-content {
  display: block;
}



.nav3 {
  padding: 15px 0; 
  /* background-color: transparent;  */
}
.nav2 {
  padding: 15px 0;
  /* background-color: transparent;a  */
}
@media only screen and (max-width: 767px) 
  {
  
    .nav2,.nav3
    {
      background-color:transparent;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav2,.nav3
    {
      background-color:transparent;
    }

}
@media only screen and (min-width: 1024px) {
  
}

  









.dropbtn {
  background-color: #4CAF50; 
  color: white;
  padding: 12px;
  min-width:160px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
  outline: none;
}

.dropbtn:hover {
  background-color: #45a049;
}

.dropbtn:active {
  background-color: #3e8e41; 
}


.custom-icon{
  color:#fff;
  margin-left:3rem;
  margin-top: 1.5rem;
}



.menu-def
{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.menu-def strong
{
  margin-left: 9rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: sans-serif;
}
.menu 
{
color:#fff;
width:100%;
  background-color:rgb(41, 41, 107);
}
































