<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href=""><img style="mix-blend-mode: color-burn;" src="./assets/Task@star-registration.in/star.jpg" alt="" class="img-fluid logo-footer"></a>
                  <div class="footer-about">
  <h5>Star Certificate is a private database service and is not affiliated with any governmental entities or educational institutions.</h5>
                  </div>

      </div>
      <div class="col-md-3">
        <div class="useful-link">
          <h2>Navigation</h2>
          <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
          <div class="use-links">
            <li><a routerLink="/StarMapEntry"><i class="fa-solid fa-angles-right"></i>Find Your Star</a></li>
            <li><a href=""><i class="fa-solid fa-angles-right"></i>The Register</a></li>
            <li><a routerLink="/contact"><i class="fa-solid fa-angles-right"></i>Contacts</a></li>
            <li><a href=""><i class="fa-solid fa-angles-right"></i>Track Your Order</a></li>
            <li><a href=""><i class="fa-solid fa-angles-right"></i>FAQ</a></li>
            <li><a href=""><i class="fa-solid fa-angles-right"></i>Delivery And Payments</a></li>
            <li><a href=""><i class="fa-solid fa-angles-right"></i>Reviews</a></li>
            <li><a  routerLink="/refund-policy"><i class="fa-solid fa-angles-right"></i>Refund policy</a></li>
            <li><a  routerLink="/terms-and-conditions"><i class="fa-solid fa-angles-right"></i>TermsAndConditions</a></li>
            <li><a routerLink="/generalterms"><i class="fa-solid fa-angles-right"></i>General Term</a></li>
            <li><a routerLink="/privacy-policy"><i class="fa-solid fa-angles-right"></i>Privacy Policy</a></li>

          </div>
        </div>

      </div>


      <div class="col-md-3">
          <div class="useful-link">
            <h2>STAR WIKI</h2>
            <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
            <div class="use-links">
              <li><a routerLink="/constellation-table"><i class="fa-solid fa-angles-right"></i>Constellation Guide</a></li>
              <li><a routerLink="/zodiac"><i class="fa-solid fa-angles-right"></i>Zodiac Guide
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>Is the Moon a Star?
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>Blog
              </a></li>
              <li><a routerLink="/shooting-star"><i class="fa-solid fa-angles-right"></i>What Is a Shooting Star?
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>What Is a Meteor Shower?
              </a></li>
              <li><a routerLink="/how-many-stars-are-in-nasa-database"><i class="fa-solid fa-angles-right"></i>How Many Stars are in the NASA Database?
              </a></li>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="useful-link">
            <h2>POPULAR QUESTIONS</h2>
            <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
            <div class="use-links">
              <li><a href=""><i class="fa-solid fa-angles-right"></i>How to Buy a Star</a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>How Much Does it Cost?
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>Is the Moon a Star?
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>Can You Buy a Star form NASA?
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>Can You Name a Star with IAU
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>Where to Buy a Star
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>Name a Star For Free
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>Name a Star Gift
              </a></li>
              <li><a routerLink="/starcertificate"><i class="fa-solid fa-angles-right"></i>What is Star a Certificate?
              </a></li>
              <li><a href=""><i class="fa-solid fa-angles-right"></i>What is Star a Adoption?
              </a></li>
            </div>
          </div>
        </div>





                <div class="col-md-3">
                    <div class="social-links">
          <h2>Follow Us</h2>
          <img src="./assets/images/about/home_line.png" alt="">
          <div class="social-icons">
            <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
          </div>
        </div>
                

                </div>
      <div class="col-md-3">
        <div class="address">
          <h2>Address</h2>
          <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
          <div class="address-links">
            <li class="address1"><i class="fa-solid fa-location-dot"></i>        Falt No:102,1 st Floor,KL Towers,sri krishna Nagar,Yousufguda,Circle-21,Hyderabad,Telangana
            </li>
               <li><a href=""><i class="fa-solid fa-phone"></i> +91 9959826669 </a></li>
               <li><i class="fa-solid fa-envelope"></i>support&#64;anystarregistration.com</li>
          </div>
        </div>
      </div>
              
    </div>
  </div>

</footer>
<section id="copy-right">
  <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>  
    StarRegistarion 2024 Powered By <a href="#">AnyStarRegistration</a> 


  </div>

</section>
