.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:5rem;
  }
  .app-image {
    flex: 1;
    margin-right: 20px;
    
  }
  .mobile-frame {
    position: relative;
    width: 400px; 
    height: 797px;
    overflow: hidden;

    margin-left:30rem;
  }


  
  .mobile-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 .video-screen {
    position: absolute;
    top: 92px;
    left: 43px;
    width: 314px;
    height: 623px;
    overflow: hidden;
  }
  
  .video-screen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .app-content__content-wrapper {
    flex: 1;
    max-width: 500px; 
  }
  
  .app-content-item {
    margin-bottom: 20px; 
  }
  
  .app-content-text {
    text-align: left;
    color: #333; 
  }
  
  .app-content-text h3 {
    font-size: 1.5em; 
  }
  
  .app-content-text p {
    line-height: 1.5; 
  }
  
  .app-content-item.augmented-reality {
    text-align: right; 
  }
  
  .app-content-item .augmented-reality .app-content-text {
    background-color: #5d0ada; 
    color: #fff; 
    padding: 15px; 
    border-radius: 10px; 
  }
  .app-content-text h3{
    color:#057dae;
    font-size:2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .app-content-text p
  {
    font-size:1.5rem;
  }
  .app-content__content-wrapper
  {
    margin-right:13rem;
  }
   