<!-- <div class="container" id="data-star">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center vh-80">
      <div style="position: relative; display: inline-block;">
        <img loading="lazy" width="320" height="550" data-src="/assets\Task@star-registration.in\phone-frame.png" alt="How To Use?" class="" src="https://starregistration.net/skin/frontend/starregister/name-a-star_co_uk/images/phone-frame.png">
        <img src="/assets\Task@star-registration.in\anystar.png" width="280" height="480" alt="Star Image" style="position: absolute; top: 35px; left: 20px;">
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mb-3">
      <div class="app-content-item mb-2 text-center">
        <h1 class="text-primary mb-3">Find your star with ease</h1>
        <p class="mb-0">Simply enter your registration number, and our app will guide you to the named star.</p>
      </div>
      <div class="app-content-item mb-2 text-center">
        <div class="app-content-text">
          <h1 class="text-primary mb-3">Augmented Reality</h1>
          <p class="mb-0">Your phone will exactly guide your eyes to the position of the star at any time of the day.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container" id="data-product">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center vh-80">
      <div style="position: relative; display: inline-block;">
        <img loading="lazy" width="320" height="550" data-src="/assets\Task@star-registration.in\phone-frame.png" alt="How To Use?" class="" src="https://starregistration.net/skin/frontend/starregister/name-a-star_co_uk/images/phone-frame.png">
        <img src="/assets\Task@star-registration.in\anystar.png" width="280" height="480" alt="Product Image" style="position: absolute; top: 35px; left: 20px;">
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mb-3">
      <div class="app-content-item mb-2 text-center">
        <h1 class="text-primary mb-3">Find Your Product with Ease</h1>
        <p class="mb-0">Simply enter your unique product ID, and our app will guide you to your desired product's location in the store.</p>
      </div>
      <div class="app-content-item mb-2 text-center">
        <div class="app-content-text">
          <h1 class="text-primary mb-3">Augmented Reality</h1>
          <p class="mb-0">Using Augmented Reality (AR), your phone will accurately guide you to the product's exact location in the store, making shopping an interactive and fun experience.</p>
        </div>
      </div>
    </div>
  </div>
