<!-- <div class="container">
    <h1 class="text-center">Terms and Conditions</h1>

    <p>Welcome to Any Star Registration!</p>

    <p>These terms and conditions outline the rules and regulations for the use of Logic Lynk Technologies's Website, located at <a href="https://anystarregistration.com">https://anystarregistration.com</a>. By accessing this website, we assume you accept these terms and conditions. Do not continue to use Any Star Registration if you do not agree to take all of the terms and conditions stated on this page.</p>

    <h1>Cookies</h1>

    <p>We employ the use of cookies. By accessing Any Star Registration, you agree to use cookies in agreement with the Logic Lynk Technologies's Privacy Policy.</p>

    <p>Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>

    <h1>License</h1>

    <p>Unless otherwise stated, Logic Lynk Technologies and/or its licensors own the intellectual property rights for all material on Any Star Registration. All intellectual property rights are reserved. You may access this from Any Star Registration for your own personal use subjected to restrictions set in these terms and conditions.</p>

    <ul>
      <li>Republish material from Any Star Registration</li>
      <li>Sell, rent or sub-license material from Any Star Registration</li>
      <li>Reproduce, duplicate or copy material from Any Star Registration</li>
      <li>Redistribute content from Any Star Registration</li>
    </ul>

    <p>This Agreement shall begin on the date hereof. Our Terms and Conditions were created with the help of the <a href="https://www.termsandconditionsgenerator.com/">Free Terms and Conditions Generator</a>.</p>

    <h1>Comments Policy</h1>

    <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Logic Lynk Technologies does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Logic Lynk Technologies, its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Logic Lynk Technologies shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>

    <p>Logic Lynk Technologies reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>

    <p>You warrant and represent that:</p>

    <ul>
      <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
      <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
      <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
      <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
    </ul>

    <p>You hereby grant Logic Lynk Technologies a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>

    <h1>Hyperlinking Policy</h1>

    <p>The following organizations may link to our Website without prior written approval:</p>

    <ul>
      <li>Government agencies;</li>
      <li>Search engines;</li>
      <li>News organizations;</li>
      <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
      <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
    </ul>

    <p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party's site.</p>

    <p>We may consider and approve other link requests from the following types of organizations:</p>

    <ul>
      <li>commonly-known consumer and/or business information sources;</li>
      <li>dot.com community sites;</li>
      <li>associations or other groups representing charities;</li>
      <li>online directory distributors;</li>
      <li>internet portals;</li>
      <li>accounting, law and consulting firms; and</li>
      <li>educational institutions and trade associations.</li>
    </ul>

    <p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Logic Lynk Technologies; and (d) the link is in the context of general resource information.</p>

    <p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party's site.</p>

    <p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Logic Lynk Technologies. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>

    <p>Approved organizations may hyperlink to our Website as follows:</p>

    <ul>
      <li>By use of our corporate name; or</li>
      <li>By use of the uniform resource locator being linked to; or</li>
      <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party's site.</li>
    </ul>

    <p>No use of Logic Lynk Technologies's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>

    <h3>iFrames</h3>

    <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

    <h1>Content Liability</h1>

    <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

    <h1>Reservation of Rights</h1>

    <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amend these terms and conditions and it's linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>

    <h1>Removal of links from our website</h1>

    <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us at any moment. We will consider requests to remove links but we are not obligated to do so or to respond to you directly.</p>

    <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>

    <h1>Disclaimer</h1>

    <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>

    <ul>
      <li>limit or exclude our or your liability for death or personal injury;</li>
      <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
      <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
      <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
    </ul>

    <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>

    <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
  </div> -->



  <div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-center">Terms and Conditions</h1>
            <p class="lead text-center">Please read these terms and conditions carefully before using our services.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Introduction</h2>
            <p>We thank you from the bottom of our heart for placing an order with us and making us a part of your celebrations. We strive hard to make your celebrations memorable and wonderful. We at Any Star are a group of gifting and celebration enthusiasts. We love our work and try to serve people in their celebrations and have fun doing so.</p>
            <p>These terms and conditions are not there to intimidate the user but are there so as to minimize the areas of conflict. We have listed these so that the user is aware of the processes and rules that can affect them, their order, and the recipient.</p>

            <h2>Terms of Use</h2>
            <p>By subscribing to or using any of our services you agree that you have read, understood and are bound by these Terms, regardless of how you subscribe to or use the services. If you do not want to be bound by the Terms, you must not subscribe to or use our services.</p>

            <h2>Services Offered</h2>
            <p>Any Star.in provides a number of Internet-based services through the Website. One such service enables users to purchase original merchandise as gifts such as watches, perfumes, sunglasses, belts, and other gift items from various brands. Upon placing an order, Any Star.in shall ship the product to you or the person you are gifting.</p>

            <h2>User Account, Password, and Security</h2>
            <p>You are responsible for maintaining the confidentiality of your password and account, and are fully responsible for all activities that occur under your password or account. You agree to immediately notify Any Star.in of any unauthorized use of your password or account.</p>

            <h2>Privacy Policy</h2>
            <p>The User hereby consents to the terms of the Privacy Policy of Any Star.in in respect of the Website. The user further consents that the terms and contents of such Privacy Policy are acceptable to them.</p>

            <h2>User Conduct and Rules</h2>
            <p>You agree and undertake to use the Website and the Service only to post and upload messages and material that are proper. You agree that when using a Service, you will not defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others, or upload any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful material.</p>

            <h2>Intellectual Property Rights</h2>
            <p>Any Star.in owns all Intellectual Property Rights to and into the Website, including copyrights, patents, trademarks, trade secrets, and inventions. You acknowledge and agree that you shall not use, reproduce or distribute any content from the Website without obtaining prior written authorization from Any Star.in.</p>

            <h2>Disclaimer of Warranties/Limitation of Liability</h2>
            <p>Any Star.in has endeavored to ensure that all the information on the Website is correct, but Any Star.in neither warrants nor makes any representations regarding the quality, accuracy, or completeness of any data, information, product, or service.</p>

            <h2>Indemnification</h2>
            <p>You agree to indemnify, defend and hold harmless Any Star.in from and against any and all losses, liabilities, claims, damages, costs, and expenses that arise out of or result from any breach or non-performance of any representation, warranty, covenant or agreement made by you.</p>

            <h2>Termination</h2>
            <p>Any Star.in may suspend or terminate your use of the Website or any Service if it believes, in its sole and absolute discretion that you have breached a term of these Terms. You shall be liable to pay for any Service or product that you have already ordered till the time of Termination by either party.</p>
        </div>



    <div class="terms-section">
      <h2>Governing Law</h2>
      <p>These terms shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles, and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts at Bangalore.</p>

      <h2>Interpretation Of Number And Genders</h2>
      <p>The Terms herein shall apply equally to both the singular and plural form of the terms defined. Whenever the context may require, any pronoun shall include the corresponding masculine and feminine. The words "include", "includes" and "including" shall be deemed to be followed by the phrase "without limitation". Unless the context otherwise requires, the terms "herein", "hereof", "hereto", "hereunder" and words of similar import refer to the Terms as a whole.</p>

      <h2>Severability</h2>
      <p>If any provision of the Terms is determined to be invalid or unenforceable in whole or in part, such invalidity or unenforceability shall attach only to such provision or part of such provision and the remaining part of such provision and all other provisions of these Terms shall continue to be in full force and effect.</p>

      <h2>Report Abuse</h2>
      <p>As per these Terms, users are solely responsible for every material or content uploaded on to the Website. Any Star.in does not review the contents in any way before they appear on the Website. Any Star.in does not verify, endorse or otherwise vouch for the contents of any user or any content generally posted or uploaded onto the Website. Users can be held legally liable for their contents and may be held legally accountable if their contents or material include, for example, defamatory comments or material protected by copyright, trademark, etc. If you come across any abuse or violation of these Terms, please report to <a href="mailto:info@anystarregistration
        .in">info&#64;anystarregistration</a>.</p>

      <h2>Product Description</h2>
      <p>Any Star does not warrant that Product descriptions or other content of this Website is accurate, complete, reliable, current, or error-free and assumes no liability in this regard.</p>

      <h2>Limitation of Liability</h2>
      <p>IN NO EVENT SHALL ANY STAR BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND IN CONNECTION WITH THESE TERMS OF USE, EVEN IF USER HAS BEEN INFORMED IN ADVANCE OF THE POSSIBILITY OF SUCH DAMAGES.</p>

      <h2>Pricing</h2>
      <p>Prices for products are described on our Website and are incorporated into these Terms by reference. All prices are in Indian rupees. Prices, products, and Services may change at Any Star's discretion.</p>

      <h2>Payment</h2>
      <p>While availing any of the payment methods available on the Website, we will not be responsible or assume any liability for any loss or damage arising directly or indirectly to you due to:</p>
      <ul>
        <li>Lack of authorization for any transaction/s, or</li>
        <li>Exceeding the preset limit mutually agreed by you and between your "Bank/s", or</li>
        <li>Any payment issues arising out of the transaction, or</li>
        <li>Decline of transaction for any other reason/s.</li>
      </ul>
      <p>All payments made against the purchases/services on the Website by you shall be compulsorily in Indian Rupees acceptable in the Republic of India. The Website will not facilitate transactions with respect to any other form of currency with respect to the purchases made on the Website.</p>

      <h2>Acceptance of Orders</h2>
      <p>The orders are accepted via the website, Android app, and iOS app. Only in case of special requirements, we accept orders via mail and Customer care phone.</p>

      <h2>Exactness Not Guaranteed</h2>
      <p>Any Star.in hereby disclaims any guarantees of exactness as to the finish and appearance of the final Product as delivered to the recipient.</p>

      <!-- Continue similar structure for the rest of the terms... -->

      <h2>Cancellation Policy</h2>
      <p>Please read the below stated points for any cancellations. Orders are processed in time slots, and we accept cancellation requests with reference to the time slot selected by the customer in the order placed.</p>

      <!-- Include more content sections as required -->

    </div>
  </div>
</div>








