
<div class="container-body">
  <div class="container data1" id="container">
    <div class="form-container sign-up" [ngClass]="{'active': loginMode === 'signup'}">
      <form [formGroup]="signUpForm" (ngSubmit)="userSignUp()">
        <h1>Create Account</h1>
        <div class="social-icons">
        </div>
        <span>or use your email for registration</span>
        <input type="text" formControlName="name" placeholder="Name">
        <div *ngIf="signUpForm.get('name')!.invalid && signUpForm.get('name')!.touched" class="error-message">
          Name is required.
        </div>

        <input type="email" formControlName="email" placeholder="Email">
        <div *ngIf="signUpForm.get('email')!.invalid && signUpForm.get('email')!.touched" class="error-message">
          <div *ngIf="signUpForm.get('email')!.hasError('required')">Email is required.</div>
          <div *ngIf="signUpForm.get('email')!.hasError('email')">Invalid email format.</div>
        </div>

        <input type="password" formControlName="password" placeholder="Password">
        <div *ngIf="signUpForm.get('password')!.invalid && signUpForm.get('password')!.touched" class="error-message">
          Password is required.
        </div>

        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in" [ngClass]="{'active': loginMode === 'signin'}">
      <form [formGroup]="signInForm" (ngSubmit)="userSignIn()">
        <h1>Sign In</h1>
        <div class="social-icons">
        </div>
        <span>or use your email password</span>
        <input type="email" formControlName="email" placeholder="Email">
        <div *ngIf="signInForm.get('email')!.invalid && signInForm.get('email')!.touched" class="error-message">
          <div *ngIf="signInForm.get('email')!.hasError('required')">Email is required.</div>
          <div *ngIf="signInForm.get('email')!.hasError('email')">Invalid email format.</div>
        </div>

        <input type="password" formControlName="password" placeholder="Password">
        <div *ngIf="signInForm.get('password')!.invalid && signInForm.get('password')!.touched" class="error-message">
          <div *ngIf="signInForm.get('password')!.hasError('required')">Password is required.</div>
        </div>

        <a routerLink="/edit">Forget Your Password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button class="hidden" id="login" (click)="toggleLoginMode('signin')">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Welcome, Friend!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button class="hidden" id="register" (click)="toggleLoginMode('signup')">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
