<div class="cards">
<div class="card">
    <img src="./assets\Task@star-registration.in\certificate-2.jpg" alt="Gift icon">
    <div class="card-content">
      <h3>Free Worldwide Delivery</h3>
      <p>Flexible shipping and delivery options</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets\Task@star-registration.in\certificate-3.jpg" alt="Gift icon">
    <div class="card-content">
      <h3>Free Worldwide Delivery</h3>
      <p>Flexible shipping and delivery options</p>
    </div>
  </div><div class="card">
    <img src="./assets\Task@star-registration.in\certificate-4.jpg" alt="Gift icon">
    <div class="card-content">
      <h3>Free Worldwide Delivery</h3>
      <p>Flexible shipping and delivery options</p>
    </div>
  </div><div class="card">
    <img src="./assets\Task@star-registration.in\certificate-5.jpg" alt="Gift icon">
    <div class="card-content">
      <h3>Free Worldwide Delivery</h3>
      <p>Flexible shipping and delivery options</p>
    </div>
  </div>
</div>