<div class="container mt-5">
    <h2 class="text-center">What is Zodiac?</h2>
    <img src="./assets\Task@star-registration.in\zodiac.webp"  class="img-fluid mb-5">
    <p> ZodiacWheel The 12 signs listed in a horoscope are Zodiac signs, but the term Zodiac is not the same in astronomy and astrology. The natal chart is a circle of 360 degrees, and each circle is represented by one Zodiac sign and occupies 30 degrees of it. In astronomy, Zodiac is a belt around the heavens extending about 8° on both sides of the ecliptic. The Zodiac is closely tied to how the Earth moves through the heavens, and the signs in astrology are derived from the constellations. They mark out the path on which the Suns go through a period of one year. The dates in a horoscope don’t correspond to the times when the sun passes through each constellation. The constellations are irregular in sizes and shapes.</p>
</div>

<div class="container mt-5">
    <h2 class="text-center">Astrology 101</h2>
    <p>Astrology is a science that believes in certain connections of planetary effect on human life and behaviour. Astrology was known to many civilizations and cultures throughout the time and is linked the most to the ancient Greece and Rome mythology. Its powerful tool is known as a natal chart - the image of the sky, created on the exact moment of your birth, that can show us our energies, traits, weaknesses, possibilities in our current and future lives. It can help us learn about ourselves and advise us on how to leave the best life possible. Our natal chart is our sky map, and it's shaped in a form of a circle, and divided on 12, not equal parts – each of them represents one Zodiac sign and therefore is each natal chart created from different energies of all signs.</p>
</div>

<div class="container mt-5">
    <h2 class="text-center">History of astrology</h2>
    <p>Astrology was once linked to astronomy, and it was quite popular to study both of them together in ancient Greece. In the 17th century, they were finally split and went their ways, but only astronomy got its scientific recognition. Astrology is very popular today but in terms of fun and curiosity. Some many organizations and associations are trying to give her the status in science, and during the last 20 years, there are even some undergraduate and master programs in China, Europe, and the USA that are working on its acceptance in the society. They don’t treat astrology as a fun tool for predicting your future and are writing papers and studies on their actual proof of human life and behaviour.</p>
</div>

<div class="container mt-5">
    <h2 class="text-center">List of the Zodiac signs in astrology</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>NAME (LATIN)</th>
                <th>NAME (ENGLISH)</th>
                <th>ASTROLOGY DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aries</td>
                <td>The ram</td>
                <td>March 21 - April 20</td>
            </tr>
            <tr>
                <td>Taurus</td>
                <td>The bull</td>
                <td>April 21 - May 21</td>
            </tr>
            <tr>
                <td>Gemini</td>
                <td>The twins</td>
                <td>May 22 - June 21</td>
            </tr>
            <tr>
                <td>Cancer</td>
                <td>The crab</td>
                <td>June 22 - July 22</td>
            </tr>
            <tr>
                <td>Leo</td>
                <td>The lion of Nemea</td>
                <td>July 23 - August 21</td>
            </tr>
            <tr>
                <td>Virgo</td>
                <td>The virgin</td>
                <td>August 22 - September 23</td>
            </tr>
            <tr>
                <td>Libra</td>
                <td>The balance</td>
                <td>September 24 - October 23</td>
            </tr>
            <tr>
                <td>Scorpio</td>
                <td>The Scorpion</td>
                <td>October 24 - November 22</td>
            </tr>
            <tr>
                <td>Sagittarius</td>
                <td>The Archer</td>
                <td>November 23 - December 22</td>
            </tr>
            <tr>
                <td>Capricornus</td>
                <td>The sea goat</td>
                <td>December 23 - January 20</td>
            </tr>
            <tr>
                <td>Aquarius</td>
                <td>The water bearer</td>
                <td>January 21 - February 19</td>
            </tr>
            <tr>
                <td>Pisces</td>
                <td>The Fishes</td>
                <td>February 20 to March 20</td>
            </tr>
        </tbody>
    </table>
</div>