<div class="wrapper">
    <div class="logo">
        <!-- <img src="/assets\Task@star-registration.in\stargalaxy.webp" alt=""> -->
        <img src="\assets\Task@star-registration.in\anystar.png">
    </div>
    <div class="text-center mt-4 name">
        Star Galaxy
    </div>
    <form class="p-3 mt-3" (ngSubmit)="submitForStarMap()">
        <div class="form-field d-flex align-items-center">
            <input type="text" name="id" id="userName" placeholder="Enter Your StarId" [(ngModel)]="RegistryNumber">
        </div>
        
        <button class="btn mt-3">Submit Id</button>
    </form>
   
</div>