















  <div class="container">
  <div class="row">
      <div class="col-12 text-center">
          <p style="text-decoration: underline;" class="h1 text-center text-primary custom-heading">CUSTOMERS ❤️ US</p>
      </div>
      <div class="col-12 gallery d-flex flex-wrap justify-content-center">
          <div class="col-6 col-md-3 mb-3 ">
              <img src="./assets/Task@star-registration.in\Wedding.webp" alt="Star Gift for Him and Her" class="img-thumbnail img-fluid custom-img">
          </div>
          <div class="col-6 col-md-3 mb-3">
              <img src="./assets\Task@star-registration.in\Gallery.webp" alt="Women searching for her star in the sky" class="img-thumbnail img-fluid custom-img">
          </div>
          <div class="col-6 col-md-3 mb-3">
              <img src="./assets\Task@star-registration.in\couplewithlife.webp" alt="" class="img-thumbnail img-fluid custom-img">
          </div>
          <div class="col-6 col-md-3 mb-3">
              <img src="./assets\Task@star-registration.in\raising.webp" alt="Couples" class="img-thumbnail img-fluid custom-img">
          </div>
          <div class="col-6 col-md-3 mb-3">
              <img src="./assets\Task@star-registration.in\Lina-Steigerwald.webp" alt="" class="img-thumbnail img-fluid custom-img">
          </div>
          
          <div class="col-6 col-md-3 mb-3">
            <img src="./assets\Task@star-registration.in\lady1.webp" alt="lady showing certificate" class="img-thumbnail img-fluid custom-img">
        </div>
          <div class="col-6 col-md-3 mb-3">
              <img src="./assets\Task@star-registration.in\lady1.webp" alt="lady showing certificate" class="img-thumbnail img-fluid custom-img">
          </div>
          <div class="col-6 col-md-3 mb-3">
              <img src="./assets\Task@star-registration.in\lady.webp" alt="girl showing certificate" class="img-thumbnail img-fluid custom-img">
          </div>
      </div>
  </div>
</div> 



