

  <div class="row">
    <h1 style="font-size:4rem;color:#057dae;margin-left:25rem;">Customers ❤️ us</h1>
    <!-- <div class="column1 column">
      <img src="./assets/Task@star-registration.in\Wedding.webp" alt="Star Gift for Him and Her">
    </div>
    <div class="column2 column">
      <img src="./assets\Task@star-registration.in\Gallery.webp" alt="Women searching for her star in the sky">
    </div>
    <div class="column3 column">
      <img src="./assets\Task@star-registration.in\couplewithlife.webp" alt="">
    </div>
    <div class="column4 column">
      <img src="./assets\Task@star-registration.in\raising.webp" alt="Couples">
    </div>
    <div class="column5 column">
      <img src="./assets\Task@star-registration.in/Lina-Steigerwald.webp" alt="">
    </div>
    <div class="column6 column">
      <img  src="./assets\Task@star-registration.in/jadelouisegx.webp" alt="Baby is surprised by the star-registration gift certificate">
    </div>
    <div class="column7 column">
      <img src="./assets\Task@star-registration.in/lady.webp" alt="girl showing certificate">
    </div>
    <div class="column8 column">
      <img src="./assets\Task@star-registration.in/lady1.webp" alt="lady showing certificate">
    </div> -->
    <div style="margin-top:5rem;">
    <img src="./assets/Task@star-registration.in\Wedding.webp" alt="Star Gift for Him and Her">
    <img src="./assets\Task@star-registration.in\Gallery.webp" alt="Women searching for her star in the sky">
    <img src="./assets\Task@star-registration.in\couplewithlife.webp" alt="">
    <img src="./assets\Task@star-registration.in\raising.webp" alt="Couples">

    <img src="./assets\Task@star-registration.in/Lina-Steigerwald.webp" alt="">

    <img  src="./assets\Task@star-registration.in/jadelouisegx.webp" alt="Baby is surprised by the star-registration gift certificate">

    <img src="./assets\Task@star-registration.in/lady1.webp" alt="lady showing certificate">

    <img src="./assets\Task@star-registration.in/lady.webp" alt="girl showing certificate">

</div>
  </div>
  
