<div class="container">
    <div>
        <h1 class="text-center mt-5"  style="color: #007bff;">What is a shooting star?</h1>
        <img class="mx-auto d-block img-fluid mt-3" alt="What is a shooting star"
            src="https://starregistration.net/media/wysiwyg/SHOOTING_STAR_1.jpg" title="What is a shooting star"
            width="775" height="407">
        <p class="mt-3">
            There are many magnificent things around us that can take our breath away. Most of them happen right
            here in our universe, the most interesting and inexplicable places of all. However, to find some beauty
            in it you don't have to go to the observatory or even own a telescope, you can see it with the naked
            eye. Spotting a shooting star in the night sky surely are one of them. However, shooting star isn't
            really a star falling out of the sky, in fact, it is a meteoroid, fragment of an asteroid or a comet
            that falls into the Earth's atmosphere and burns up. This formation of rock and dust is pulled by
            Earth's gravitational field and moves so fast that it heats up. From our point of view, it seems like
            it is glowing and looks wonderful, but behind it stands pure. Basically, friction between these rocks
            and air molecules creates a huge amount of heat that afterward is converted into light.
        </p>
    </div>
</div>

<div class="container mt-5">
    <div>
        <h1 class="text-center"  style="color: #007bff;">How often can you see a shooting star?</h1>
        <p class="mt-3">
            There is a lot of debris floating around in space, which means that dozens of meteors reach our
            atmosphere every hour. Though most of them never reach the ground - burning up they just turn to
            dust. However, some of the bigger meteors once in a while the Earth's surface and the parts of these
            rocks found is called a meteorite. According to the American Meteor Society, you'd expect to see 2 to
            16 meteors in a really good dark site. Meteors span across the atmosphere in the day time as well,
            but we can actually spot them only at night, so they are more common than you might think. When
            stargazing you can expect to see a shooting star every 10 to 15 minutes, this is an average
            assumption taking into account that we only see a small part of the sky at once. The best way to
            improve your chances of seeing meteors are to:
        </p>
        <ul>
            <li>This might be hours before dawn, the times when there is a new Moon phase.</li>
            <li>Look from the darkest, clearest place where nothing will disturb the view.</li>
        </ul>
    </div>
</div>

<div class="container mt-5">
    <div>
        <h1 class="text-center"  style="color: #007bff;">Why do we wish upon a shooting star?</h1>
        <p class="mt-3">
            In many cultures nowadays there is this superstition that you need to make a wish every time you see
            ‘shooting star' or, to be scientifically accurate, see burning specks of space dust. Whenever you or
            your ancestors from year one looked up at the night sky most probably you both did the same ritual.
            You closed your eyes and wished for something your heart truly desires. But where is this idea rooted?
            One of the assumptions relies on the frequency of this matter. Meaning, that this happening is very
            rare, so you can count yourself lucky every time that you experience it. This luck of seeing a
            shooting star in the night sky then is rewarded by fulfilled fish. Other version dates back to the
            ancient Greeks, of course. Stating that it was Ptolemy who first compared these meteors to signs of
            God. Thus, shooting star is an indication that the Gods are now paying attention to whatever you
            would ask for. In later Christian tradition, they were thought to represent rising or falling souls
            or angels. In this theory, a falling star is meant as a remembrance of this soul that lights up with
            your own wishes. We might never know the origin of this matter, however, that won't impact our
            appreciation of this starry miracle. Every one of us has different beliefs and reasons why we believe
            the magic of shooting stars. If it makes the world a bit more interesting and mysterious - well there
            is no harm. And did you make a wish already?
        </p>
    </div>
</div>