<!--
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 mb-4">
      <div class="card custom-bg-color text-white h-100 p-4 mx-auto">
        <i class="fa fa-ribbon"></i>
        <h3 class="card-title">100% Money Back Guarantee</h3>
        <p class="card-text">If you buy a star and are not satisfied, or if the recipient of the gift is not happy with the star naming, we offer free return shipping & will refund you full purchase price including shipping cost</p>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card custom-bg-color text-white h-100 p-4 mx-auto">
        <i class="fa fa-rocket"></i>
        <h3 class="card-title">Fast Shipment</h3>
        <p class="card-text">We will ship your star-naming documents same day. In urgent cases we can also send you documents by E-Mail within 2-3 hours so you can print them yourself.</p>
      </div>
    </div>
  </div>
</div>
 -->













<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 mb-4">
      <div class="card custom-bg-color text-white h-100 p-4 mx-auto">
        <i class="fa fa-ribbon"></i>
        <h3 class="card-title">100% Money Back Guarantee</h3>
        <p class="card-text">If you buy a any product and are not satisfied, or if the recipient of the gift is not happy with the product, we offer free return shipping & will refund you full purchase price including shipping cost</p>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card custom-bg-color text-white h-100 p-4 mx-auto">
        <i class="fa fa-rocket"></i>
        <h3 class="card-title">Fast Shipment</h3>
        <p class="card-text">We will ship your product few days. In urgent cases we can also send you documents by E-Mail within 2-3 hours so you can print them yourself.</p>
      </div>
    </div>
  </div>
</div>


