.card.custom-bg-color {
    background-color: #057dae;
  }
  
  .card {
    transition: all 1s linear;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card i {
    font-size: 40px;
  }
  
  .card h3 {
    font-weight: bold;
  }
  
  