

<div class="row">
  <div class="card" style="color:#fff">
    <i class="fa fa-ribbon"></i>
    <h3>100% Money Back Guarantee</h3>
    <p>If you buy a star and are not satisfied, or if the recipient of the gift is not happy with the star naming, we offer free return shipping & will refund you full purchase price including shipping cost</p>
  </div>
  <div class="card" style="color:#fff">
    <i class="fa fa-rocket"></i>
    <h3>Fast Shipment</h3>
    <p>We will ship your star-naming documents same day. In urgent cases we can also send you documents by E-Mail within 2-3 hours so you can print them yourself.</p>
  </div>
</div>