<div class="cards">
    <div class="card1 card">
        <img src="./assets\Task@star-registration.in\certificate-2.jpg" alt="Gift icon">
        <div class="card-content">
          <h4>Worldwide Delivery</h4>
          <p>Flexible shipping and delivery options</p>
        </div>
      </div>
      <div class="card1 card">
        <img src="./assets\Task@star-registration.in\certificate-3.jpg" alt="Gift icon">
        <div class="card-content">
          <h4>Full Gift Set on all Packages</h4>
          <p> 

            All of our packages include  a star<br/> certificate</p>
        </div>
      </div><div class="card1 card">
        <img src="./assets\Task@star-registration.in\certificate-4.jpg" alt="Gift icon">
        <div class="card-content">
          <h4>Best Price Guarantee</h4>
          <p>

            Finding it cheaper somewhere else<br/> We refund the difference</p>
        </div>
      </div><div class="card1 card">
        <img src="./assets\Task@star-registration.in\certificate-5.jpg" alt="Gift icon">
        <div class="card-content">
          <h4>Free Worldwide Delivery</h4>
          <p>Flexible shipping and delivery option</p>
        </div>
      </div>
    </div>
<!-- <div class="data">
    <div class="container-xl px-4 mt-4 mrt">
        <p style="margin-left:31rem;color:red" *ngIf="formdetails.get('FirstName')!.hasError('required') && formdetails.get('FirstName')!.touched ">
            Enter Your FirstName   
        </p>
       
        <div class="row" >
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header" style="font-size:1.6rem;">ADD NEW ADDRESS</div>
                    <div class="card-body">
                        <form [formGroup]="formdetails">
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" name="FirstName" formControlName="FirstName" id="inputFirstName" type="text" placeholder="Enter your first name" value="Valerie">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" name="LastName" formControlName="LastName" id="inputLastName" type="text" placeholder="Enter your last name" value="Luna">
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-12">
                                    <label class="small mb-1" for="inputOrgName">Organization name</label>
                                    <input class="form-control" name="OrganizationName"   formControlName="OrganizationName" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Start starsgalaxy">
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Telephone</label>
                                    <input class="form-control" name="Telephone"  formControlName="Telephone" id="inputOrgName" type="text" placeholder="Enter your Telephone name" value="555-123-4567">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Fax</label>
                                    <input class="form-control" name="Fax"  formControlName="Fax" id="inputPhone" type="tel" placeholder="Enter your Fax" value="555-123-4567">
                                </div>
                               
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-12">
                                    <label class="small mb-1" for="inputLocation">Street Address</label>
                                    <input class="form-control" name="StreetAddress"  formControlName="StreetAddress" id="inputLocation" type="text" placeholder="Enter your Street Address" value="San Francisco, CA">
                                </div>
                               
                            </div>
                              <div class="row gx-3 mb-3">
                                <div class="col-md-12">
                                    <label class="small mb-1" for="inputLocation">VAT Number</label>
                                    <input class="form-control" name="VATNumber" formControlName="VATNumber"id="inputLocation" type="text" placeholder="Enter your VAT Number" value="">
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">City</label>
                                    <input class="form-control" name="City" formControlName="City" id="inputFirstName" type="text" placeholder="Enter your City" value="">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">State/Province</label>
                                    <input class="form-control" name="State" formControlName="State" id="inputLastName" type="text" placeholder="Enter your State/Province" value="">
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">*Zip/Postal Code</label>
                                    <input class="form-control" name="Zip" formControlName="Zip" id="inputFirstName" type="text" placeholder="Enter your Zip/Postal Code" value="">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">*Country</label>
                                    <input class="form-control" name="Country" id="inputLastName" formControlName="Country" type="text" placeholder="Enter your Country" value="">
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" (click)="addUserAdress()" >Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
      
      
     -->





     <div class="data">
        <div class="container-xl px-4 mt-4 mrt">
            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-xl-8">
                    <div class="card mb-4">
                        <div class="card-header">ADD NEW ADDRESS</div>
                        <div class="card-body">
                            <form [formGroup]="formdetails" (ngSubmit)="addUserAdress() ">
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputFirstName">First name</label>
                                        <input class="form-control" formControlName="FirstName" id="inputFirstName" type="text" placeholder="Enter your first name">
                                        <div *ngIf="formdetails.get('FirstName')!.errors && formdetails.get('FirstName')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('FirstName')!.hasError('required')">First name is required.</div>
                                            <div *ngIf="formdetails.get('FirstName')!.hasError('minlength')">First name must be at least 2 characters.</div>
                                            <div *ngIf="formdetails.get('FirstName')!.hasError('maxlength')">First name cannot exceed 50 characters.</div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputLastName">Last name</label>
                                        <input class="form-control" formControlName="LastName" id="inputLastName" type="text" placeholder="Enter your last name">
                                        <div *ngIf="formdetails.get('LastName')!.errors && formdetails.get('LastName')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('LastName')!.hasError('required')">Last name is required.</div>
                                            <div *ngIf="formdetails.get('LastName')!.hasError('minlength')">Last name must be at least 2 characters.</div>
                                            <div *ngIf="formdetails.get('LastName')!.hasError('maxlength')">Last name cannot exceed 50 characters.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        <label class="small mb-1" for="inputOrgName">Organization name</label>
                                        <input class="form-control" formControlName="OrganizationName" id="inputOrgName" type="text" placeholder="Enter your organization name">
                                        <div *ngIf="formdetails.get('OrganizationName')!.errors && formdetails.get('OrganizationName')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('OrganizationName')!.hasError('required')">Organization name is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputTelephone">Telephone</label>
                                        <input class="form-control" formControlName="Telephone" id="inputTelephone" type="text" placeholder="Enter your telephone number">
                                        <div *ngIf="formdetails.get('Telephone')!.errors && formdetails.get('Telephone')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('Telephone')!.hasError('required')">Telephone number is required.</div>
                                            <div *ngIf="formdetails.get('Telephone')!.hasError('pattern')">Invalid telephone number.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputFax">Fax</label>
                                        <input class="form-control" formControlName="Fax" id="inputFax" type="tel" placeholder="Enter your fax number">
                                        <div *ngIf="formdetails.get('Fax')!.errors && formdetails.get('Fax')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('Fax')!.hasError('required')">Fax number is required.</div>
                                            <div *ngIf="formdetails.get('Fax')!.hasError('pattern')">Invalid fax number.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        <label class="small mb-1" for="inputStreetAddress">Street Address</label>
                                        <input class="form-control" formControlName="StreetAddress" id="inputStreetAddress" type="text" placeholder="Enter your street address">
                                        <div *ngIf="formdetails.get('StreetAddress')!.errors && formdetails.get('StreetAddress')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('StreetAddress')!.hasError('required')">Street address is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        <label class="small mb-1" for="inputVATNumber">VAT Number</label>
                                        <input class="form-control" formControlName="VATNumber" id="inputVATNumber" type="text" placeholder="Enter your VAT number">
                                        <div *ngIf="formdetails.get('VATNumber')!.errors && formdetails.get('VATNumber')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('VATNumber')!.hasError('required')">VAT number is required.</div>
                                            <div *ngIf="formdetails.get('VATNumber')!.hasError('pattern')">Invalid VAT number.</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputCity">City</label>
                                        <input class="form-control" formControlName="City" id="inputCity" type="text" placeholder="Enter your city">
                                        <div *ngIf="formdetails.get('City')!.errors && formdetails.get('City')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('City')!.hasError('required')">City is required.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputState">State/Province</label>
                                        <input class="form-control" formControlName="State" id="inputState" type="text" placeholder="Enter your state/province">
                                        <div *ngIf="formdetails.get('State')!.errors && formdetails.get('State')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('State')!.hasError('required')">State/Province is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputZip">Zip/Postal Code</label>
                                        <input class="form-control" formControlName="Zip" id="inputZip" type="text" placeholder="Enter your zip/postal code">
                                        <div *ngIf="formdetails.get('Zip')!.errors && formdetails.get('Zip')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('Zip')!.hasError('required')">Zip/Postal code is required.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputCountry">Country</label>
                                        <input class="form-control" formControlName="Country" id="inputCountry" type="text" placeholder="Enter your country">
                                        <div *ngIf="formdetails.get('Country')!.errors && formdetails.get('Country')!.touched" class="error" style="color:red">
                                            <div *ngIf="formdetails.get('Country')!.hasError('required')">Country is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit" [disabled]="formdetails.invalid">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    