<div class="home">
  
<!-- <nav class="nav1">
Valentines Day Sale:37% OFF EVERYTHING
</nav>
<nav class="nav2">
    <ul>
        <li><a routerLink="/rating">Excellent</a></li>
        <li><a routerLink="/blog">English</a></li>
      <li><a routerLink="/dashboard">INR</a></li>
      <li ><a routerLink="/">checkOut</a></li>
      <li><a routerLink="/MyAccount">My Account</a></li>
      <li><a routerLink="/services">TRACK YOUR ORDER/PDF</a></li>
      <li><a routerLink="/contact">Find Your Star</a></li>
      
    </ul>
  </nav>
 
  <nav class="nav3">
    <ul>
        <li><a routerLink="/rating">DHOOTHASTARREGISTARION.COM</a></li>
        <li><a routerLink="/navbar">HOME</a></li>
      <li><a routerLink="/drop">ORDER</a></li>
      <li ><a routerLink="/">DELIVERY & PAYMENTS</a></li>
      <li><a routerLink="/about">REVIEWS</a></li>
      <li><a routerLink="/contact">CONTACT</a></li>
      <a routerLink="/drop">
        <button   type="button" class="btn btn-success data-button">Buy Now</button>
      </a>
      
    </ul>
  </nav> -->
  <div class="cer-img-database">
    <img 
     class="banner-img v2" src="https://starregistration.net/skin/frontend/starregister/name-a-star_co_uk/images/new_banner_img_v4_mobile.webp" alt="Banner Certificates" width="620" height="500">
  </div>
<div class="data-theory" style="color:#fff">
    <p style="font-size:52px; line-height:4rem;"><span style="color:yellowgreen;">BUY A STAR ONLINE</span>
and get a Star Certificate
</p>


<span class="part">
Name a star visible from <span style="color:brown;font-size:25px;">INDIA</span>, or any other preferred location.
 A star will be registered in the official star database with accurate coordinates, so you can always find it in the sky.
</span><br/>
<button routerLink="/drop"  style="margin-top:2rem;" type="button" class="btn btn-danger btn-lg p1-data">Name a Star</button>
&nbsp;
<a href="#data-star"><button type="button"  style="margin-top:2rem;" class="btn btn-secondary btn-lg p2-data">Watch Video</button></a>


</div>
<div class="card-database">
    <div class="card card1" style="width: 20rem;background-color:rgb(81, 41, 109);">
        <div class="card-body">
          <h5 class="card-title" style="color:#fff">FREE WORLDWIDE DELIVERY</h5>
          <p class="card-text"  style="color:#f0e9e9">Flexible shipping and delivery options
        </p>
        </div>
      </div><div class="card" style="width: 20rem;background-color:rgb(81, 41, 109);">
        <div class="card-body">
          <h5 class="card-title" style="color:#fff">ONLY VISIBLE STARS        </h5>
          <p class="card-text"  style="color:#f0e9e9">We will select a star based on your location
        </p>
        </div>
      </div><div class="card" style="width: 20rem;background-color:rgb(81, 41, 109);">
        <div class="card-body">
          <h5 class="card-title" style="color:#fff">365-DAYS TO RETURN
        </h5>
          <p class="card-text"  style="color:#f0e9e9">Buy a star gift set with confidence
        </p>
        </div>
      </div><div class="card" style="width: 20rem;background-color:rgb(81, 41, 109);">
        <div class="card-body">
          <h5 class="card-title" style="color:#fff">BEST PRICE GUARANTEE
        </h5>
          <p class="card-text" style="color:#f0e9e9">We guarantee the best value for the money
        </p>
        </div>

</div>
</div>
<!-- <h1 style="font-size: 4rem;color:#fff;margin-left:28rem;">
  Name a Star Packages

</h1> -->
<app-dropdowns></app-dropdowns>
</div>

<app-video></app-video>








<h1 style="font-size: 4rem;color:#057dae;margin-left:28rem;margin-top:6rem;margin-bottom:-6rem;">
  About Star Registration
</h1>
<div class="container" >
  <div class="section i1">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/star.svg?v=145747914973074610631707906749" alt="Star icon" width="70" height="70">
    <div class="content">
      <div class="heading"  style="font-size:2rem;color:#057dae;">Only visible stars</div>
      <div class="text">At our star naming service, we take great care in selecting stars that are visible from your continent year-round. To ensure that, we'll ask for your location during the naming process. Our proprietary algorithm then ensures that you will get a star that is guaranteed visible!</div>
    </div>
  </div>
  <div class="section i2">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/registered.svg?v=43752538119125845721707906749" alt="Trademark Registered icon" width="70" height="70">
    <div class="content">
      <div class="heading"  style="font-size:2rem;color:#057dae;">The Star Register</div>
      <div class="text">We are proud to be the exclusive partner of Star-Register.com, the premier registry for naming stars. When you purchase a star with us, it will be registered on their platform, and you can access it anytime using their dedicated iOS and Android App.</div>
    </div>
  </div>
  <div class="section i3">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/parachute.svg?v=66197217689237056331707906748" alt="Parachute with parcel icon" width="70" height="70">

    <div class="content i4">
      <div class="heading"  style="font-size:2rem;color:#057dae;">Quick Delivery</div>
      <div class="text">
          Thanks to our many years of experience and streamlined processes, we can quickly register your star and ship your documents within just 2 hours. And to make things even more convenient, we will also send your documents as a PDF in advance.
         </div>
    </div>
  </div>




  <div class="section">


      <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/headphones.svg?v=122077724091530129401707906749" alt="Headphones icon" width="70" height="70">

      <div class="content">
        <div class="heading" style="font-size:2rem;color:#057dae;">5-Star Reviews</div>
        <div class="text">We're proud to say our customers love us. The proof? Our 5-star reviews are through the roof. From our speedy delivery to our well visible stars and responsive customer service, our customers consistently appreciate the care we put into our service. Naming a star is a unique experience, and we're here to make it special for everyone.</div>
      </div>
    </div>
</div>








<div class="data-image">
  <img class="banner-img v2" style="margin-left:250px" src="https://starregistration.net/skin/frontend/starregister/name-a-star_co_uk/images/pdp/gift_package_v3_mobile.png" alt="Gift Package" width="1200px" height="700px" loading="lazy">
</div>


<!-- <div class="frame-data">

<div class="card big-card card-digital" style="width: 24rem;">

  <img src="https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_1280.jpg" class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title">STANDARD STAR GIFT PACK</h5>
    <h5 class="card-text" style="color:green">&#8377;3670<span style="color:red;font-size:16px;">&nbsp;<del>&#8377;5386.70</del></span> Free Delivery Included</h5>
  </div>
  <ul class=" list-group-flush flush-data3">
    
    <p style="text-indent:20px; font-size:20px;color:rgb(182, 182, 14)">Free Git-Star Map</p>
    <p style="text-indent:20px; font-size:20px;color:rgb(182, 182, 14)">LifeTime registry record</p>
    <p style="text-indent:20px; font-size:20px;">visible from your location</p>
    <p style="text-indent:20px; font-size:20px;">Registartion certificate</p>
    <p style="text-indent:20px; font-size:20px;">gift folder</p>
    <p style="text-indent:20px; font-size:20px;">Electronic files included</p>

  </ul> 
  <button type="button" class="btn btn-success btn-lg btn-lg1">ORDER NOW</button>



  <div class="card-body">
  </div>
</div> -->
<!-- <div class="card big-card card-digital" style="width: 24rem;">
  
  <img src="https://images.unsplash.com/photo-1538370965046-79c0d6907d47?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
<!-- <div class="card big-card card-digital" style="width: 24rem;">
  
  <img src="https://images.unsplash.com/photo-1538370965046-79c0d6907d47?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
<!-- <div class="card big-card card-digital" style="width: 24rem;">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTilBjnzQpW-OoOVP9_dWZfk0TcrvbEMLOwiWFqEscn4Q&s" class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title">CONSTELLATION STAR GIFT PACK</h5>
    <h5 class="card-text" style="color:green">&#8377;5513.69<span style="color:red;font-size:16px;">&nbsp;<del>&#8377;7876.70</del></span> Free Delivery Included</h5>
  </div>
  <ul class=" list-group-flush flush-data2">
   
    <p style="text-indent:20px; font-size:20px;color:rgb(182, 182, 14)">Free Git-Star Map</p>
    <p style="text-indent:20px; font-size:20px;color:rgb(182, 182, 14)">Free Git-Zodiac Pendant</p>
    <p style="text-indent:20px; font-size:20px;">LifeTime registry record</p>
    <p style="text-indent:20px; font-size:20px;">visible from your location</p>
    <p style="text-indent:20px; font-size:20px;">Registartion certificate</p>
    <p style="text-indent:20px; font-size:20px;">Gift folder</p>
    <p style="text-indent:20px; font-size:20px;">Electronic files included</p>
    <p style="text-indent:20px; font-size:20px;">Constellation of your choice</p>


  </ul>
  <button type="button" class="btn btn-success btn-lg btn-lg2">ORDER NOW</button>


  <div class="card-body">
    
  </div>
</div>
<div class="card big-card card-digital" style="width: 24rem;">

  <img src="https://images.unsplash.com/photo-1538370965046-79c0d6907d47?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title">BINARY STAR GIFT PACK</h5>
    <h5 class="card-text" style="color:green">&#8377;6681.50<span style="color:red;font-size:16px;">&nbsp;<del>&#8377;9545.00</del></span> Free Delivery Included</h5>
  </div>
  <ul class=" list-group-flush flush-data1">
    
    <p style="text-indent:20px; font-size:20px;color:rgb(182, 182, 14);">Free Git-Star Map</p>
    <p style="text-indent:20px; font-size:20px;color:rgb(182, 182, 14);">Free Git-Second Gift Pack</p>
    <p style="text-indent:20px; font-size:20px;">LifeTime registry record</p>
    <p style="text-indent:20px; font-size:20px;">visible from your location</p>
    <p style="text-indent:20px; font-size:20px;">Registartion certificate</p>
    <p style="text-indent:20px; font-size:20px;">Gift folder</p>
    <p style="text-indent:20px; font-size:20px;">Electronic files included</p>
    <p style="text-indent:20px; font-size:20px;">Extra bright,easy navigation</p>
    <p style="text-indent:20px; font-size:20px;">suitable for double names and couples</p>
  </ul>
  <button type="button" class="btn btn-success btn-lg btn-lg3">ORDER NOW</button>
  <div class="card-body">
  </div>
</div> -->
<!-- </div> -->
<!-- </div> -->

<div class="middle-matter">
  <span style="font-size:30px;color:rgb(137, 33, 33);">A TRUSTED BRAND</span>
  Excellent<span style="color:green;font-size:50px;">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</span>
on<span style="color:green;font-size:50px;">&#x2605;</span>
Trustpilot
<br/><br/>
</div>

<div class="middle-matter-1">
  <span>Our mission is to provide unique, lasting gifts to our customers. With 50,000+</span> certificates issued, we've brought joy to families worldwide. Join our family today!

</div>
<app-middle></app-middle>
<app-gallery></app-gallery>
<app-whystarreg></app-whystarreg>
<app-footer></app-footer>


