 <!-- <div class="home">

<div class="text">
  <div class="data-theory">
    <p style="font-size: 24px;"><span style="color: yellowgreen;">BUY A STAR ONLINE</span> and get a Star Certificate</p>
    <span class="part">
      Name a star visible from <span style="color: brown;" *ngIf="countryData">{{ countryData.name.common }}
        </span>, or any other preferred location. A star will be registered in the official star database with accurate coordinates, so you can always find it in the sky.
    </span><br/>

    <p>

    </p>
    <button routerLink="/order" type="button" class="btn btn-danger btn-lg p1-data">Name a Star</button>
    <a href="#data-star"><button type="button" class="btn btn-secondary btn-lg p2-data">Watch Video</button></a>



  </div>
  <div class="cer-img-database">
    <img class="banner-img v2" src="../../assets/Task@star-registration.in/certificate-banner-img.webp" alt="Banner Certificates" width="560" height="500">

  </div>
</div>
<section id="header" class="jumbotron text-center m-5">
  <h1 class="display-3">STAR GALAXY</h1>
  <p class="lead" style="color:#ffffff">Naming a star after someone or something can be a powerful symbol of remembrance, love, or celebration. It can serve as a lasting tribute and a reminder of special moments or individuals.</p>
  <a routerLink="/order" class="btn btn-lg btn-success mr-2">Order Now</a>
  <a routerLink="/order" class="btn btn-lg btn-primary">Order Now</a>
</section>
<div class="container">
  <div class="card-database row justify-content-center">
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card bg-indigo text-white">
        <div class="card-body">
          <h5 class="card-title">FREE WORLDWIDE DELIVERY</h5>
          <p class="card-text">Flexible shipping and delivery options</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card bg-indigo text-white">
        <div class="card-body">
          <h5 class="card-title">ONLY VISIBLE STARS</h5>
          <p class="card-text">We will select a star based on your location</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card bg-indigo text-white">
        <div class="card-body">
          <h5 class="card-title">365-DAYS TO RETURN</h5>
          <p class="card-text">Buy a star gift set with confidence</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card bg-indigo text-white">
        <div class="card-body">
          <h5 class="card-title">BEST PRICE GUARANTEE</h5>
          <p class="card-text">We guarantee the best value for the money</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dropdowns></app-dropdowns>
</div>


  <p class="h1 text-center custom-heading text-primary" style=" text-decoration: underline;">WE RECEIVED EMAILS REGARDING OUR SERVICE</p>
<div class="mini-container">
  <div class="card-rs">
    <p>Exceptional service! The team provided outstanding customer support, kept me updated throughout the process, and delivered both the digital and physical copies promptly. Highly recommend!</p>
    <p class="author">John Doe</p>
  </div>

  <div class="card-rs">
    <p>Dealing with this company was an absolute pleasure. They were proactive in providing delivery updates, and their customer service team was incredibly helpful and responsive. A great experience overall!</p>
    <p class="author" >Jane Smith</p>
  </div>

  <div class="card-rs">
    <p>My wife was overjoyed with her Christmas present! The star registration exceeded our expectations. Living in the countryside, she now enjoys gazing at her star every evening. Thank you for the magical experience!</p>
    <p class="author">Michael Johnson</p>
  </div>

  <div class="card-rs">
    <p>Naming a star after my late husband brought comfort to my daughter during a difficult time. The process was quick, convenient, and the service provided was exceptional. Thank you for helping us cherish his memory!</p>
    <p class="author">Emily Brown</p>
  </div>

  <div class="card-rs">
    <p>Impressive service at an unbeatable price! My partner was thrilled with the Valentine's Day gift. Easy to order and a truly unique gift idea. Thank you for making our celebration extra special!</p>
    <p class="author">David Wilson</p>
  </div>

  <div class="card-rs">
    <p>The star registration was a hit! My wife was pleasantly surprised and deeply touched by the thoughtful gesture. It's a gift that stands out and brings joy every time she looks up at the night sky. Thank you for the wonderful experience!</p>
    <p class="author">Sarah Martinez</p>
  </div>
</div>


<app-video></app-video>










  <p class="text-center h1 custom-heading text-primary" style="text-decoration: underline;">ABOUT STAR REGISTRATION</p>
<div class="container" >

  <div class="section i1">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/star.svg?v=145747914973074610631707906749" alt="Star icon" width="70" height="70">
    <div class="content">
      <div class="heading"  style="color:#057dae;">Only visible stars</div>
      <div class="text texting">At our star naming service, we take great care in selecting stars that are visible from your continent year-round. To ensure that, we'll ask for your location during the naming process. Our proprietary algorithm then ensures that you will get a star that is guaranteed visible!</div>
    </div>
  </div>
  <div class="section i2">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/registered.svg?v=43752538119125845721707906749" alt="Trademark Registered icon" width="70" height="70">
    <div class="content">
      <div class="heading"  style="color:#057dae;">The Star Register</div>
      <div class="text texting">We are proud to be the exclusive partner of Star-Register.com, the premier registry for naming stars. When you purchase a star with us, it will be registered on their platform, and you can access it anytime using their dedicated iOS and Android App.</div>
    </div>
  </div>
  <div class="section i3">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/parachute.svg?v=66197217689237056331707906748" alt="Parachute with parcel icon" width="70" height="70">

    <div class="content i4">
      <div class="heading"  style="color:#057dae;">Quick Delivery</div>
      <div class="text texting">
          Thanks to our many years of experience and streamlined processes, we can quickly register your star and ship your documents within just 2 hours. And to make things even more convenient, we will also send your documents as a PDF in advance.
         </div>
    </div>
  </div>




  <div class="section">


      <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/headphones.svg?v=122077724091530129401707906749" alt="Headphones icon" width="70" height="70">

      <div class="content">
        <div class="heading" style="color:#057dae;">5-Star Reviews</div>
        <div class="text texting">We're proud to say our customers love us. The proof? Our 5-star reviews are through the roof. From our speedy delivery to our well visible stars and responsive customer service, our customers consistently appreciate the care we put into our service. Naming a star is a unique experience, and we're here to make it special for everyone.</div>
      </div>
    </div>
</div>
<div class="data-image d-1">
  <img class=" d-2" style="margin-left:250px" src="https://starregistration.net/skin/frontend/starregister/name-a-star_co_uk/images/pdp/gift_package_v3_mobile.png" width="1200px" height="600px" alt="Gift Package" loading="lazy">
</div>


<div class="middle-matter">
  <h2>A TRUSTED BRAND</h2>
  <div class="star-rating">
    <span class="star">&#x2605;</span>
    <span class="star">&#x2605;</span>
    <span class="star">&#x2605;</span>
    <span class="star">&#x2605;</span>
    <span class="star">&#x2605;</span>
  </div>
  <p class="mt-3">on Trustpilot</p>
</div>

<div class="middle-matter-1">
  <p>Our mission is to provide unique, lasting gifts to our customers. With over 50,000 certificates issued, we've brought joy to families worldwide. Join our family today!</p>
</div>

<app-middle></app-middle>
<app-gallery></app-gallery>
<app-whystarreg></app-whystarreg>

 -->

































 <div class="home">

  <div class="text">
    <div class="data-theory">
      <p style="font-size: 24px;"><span style="color: yellowgreen;">BUY A HAPPY BIRTHDAY MIRROR CARD ONLINE</span> and add a Personal Touch</p>
      <span class="part">
        Celebrate birthdays with a <span style="color: brown;">Happy Birthday Mirror Card</span>. A unique gift that combines a special message with a mirror design, perfect for your loved ones.
      </span><br/>
      <p></p>
      <button routerLink="/happy-birthday-mirror-card" type="button" class="btn btn-danger btn-lg p1-data">Order Now</button>
      <a href="#data-card"><button type="button" class="btn btn-secondary btn-lg p2-data">Watch Video</button></a>


    </div>







    <div class="cer-img-database">
      <!-- <img class="banner-img v2" src="../../assets/Task@star-registration.in/certificate-banner-img.webp" alt="Banner Certificates" width="560" height="500"> -->
      <img class="banner-img v2" src="../../assets/gallery/banner.png" alt="Banner Certificates" width="560" height="500">


    </div>
  </div>
  <section id="header" class="jumbotron text-center m-5">
    <h1 class="display-3">products dictionary</h1>
    <p class="lead" style="color:#ffffff">buying a product after someone or something can be a powerful symbol of remembrance, love, or celebration. It can serve as a lasting tribute and a reminder of special moments or individuals.</p>
    <a routerLink="/order" class="btn btn-lg btn-success mr-2">Order Now</a>
    <a routerLink="/order" class="btn btn-lg btn-primary">Order Now</a>
  </section>
  <div class="container">
    <div class="card-database row justify-content-center">
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card bg-indigo text-white">
          <div class="card-body">
            <h5 class="card-title">FREE WORLDWIDE DELIVERY</h5>
            <p class="card-text">Flexible shipping and delivery options</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card bg-indigo text-white">
          <div class="card-body">
            <h5 class="card-title">ONLY BEST PRODUCTS</h5>
            <p class="card-text">We will be delivered based on your location</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card bg-indigo text-white">
          <div class="card-body">
            <h5 class="card-title">7-DAYS TO RETURN</h5>
            <p class="card-text">Buy a product gift set with confidence</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card bg-indigo text-white">
          <div class="card-body">
            <h5 class="card-title">BEST PRICE GUARANTEE</h5>
            <p class="card-text">We guarantee the best value for the money</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-dropdowns></app-dropdowns>
  </div>


  <p class="h1 text-center custom-heading text-primary" style=" text-decoration: underline;">WE RECEIVED EMAILS REGARDING OUR SERVICE</p>
<div class="mini-container">
  <div class="card-rs">
    <p>Exceptional service! The team provided outstanding customer support, kept me updated throughout the process, and delivered my Happy Birthday Mirror Card promptly. The design and quality of the card were beyond expectations. Highly recommend!</p>
    <p class="author">John Doe</p>
  </div>

  <div class="card-rs">
    <p>Dealing with this company was an absolute pleasure. They were proactive in providing delivery updates, and their customer service team was incredibly helpful and responsive. The Ted Talks collection I purchased arrived in perfect condition, and I’ve enjoyed every session! A great experience overall!</p>
    <p class="author" >Jane Smith</p>
  </div>

  <div class="card-rs">
    <p>My best friend was so touched when I gave her the Best Friend Medal! The design was beautiful, and it made for the perfect gift. She wears it every day as a reminder of our special bond. Thank you for such a thoughtful gift!</p>
    <p class="author">Michael Johnson</p>
  </div>

  <div class="card-rs">
    <p>The Birthday Glitter Bomb was a huge hit at my friend’s party! The surprise factor was amazing, and it made for such a memorable moment. The process was quick and the service was excellent. Thank you for adding that extra sparkle to her day!</p>
    <p class="author">Emily Brown</p>
  </div>

  <div class="card-rs">
    <p>The Cuddles gift set was the perfect comfort package for my partner. The items were so cozy and high quality, and it made for a wonderfully relaxing experience. It was easy to order and arrived on time. Thank you for making our day even more special!</p>
    <p class="author">David Wilson</p>
  </div>

  <div class="card-rs">
    <p>The Wellness Calendar I ordered is absolutely beautiful! It has truly helped me stay organized and focused on my health goals. Each day’s wellness tip has been so motivating. I’m so glad I decided to purchase it!</p>
    <p class="author">Sarah Martinez</p>
  </div>





  <app-video></app-video>










  <div class="section i1">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/star.svg?v=145747914973074610631707906749" alt="Happy Birthday Mirror Card icon" width="70" height="70">
    <div class="content">
      <div class="heading" style="color:#057dae;">Happy Birthday Mirror Card</div>
      <div class="text texting">Our Happy Birthday Mirror Card is a unique and personalized gift designed to surprise and delight. With a beautiful mirror finish and a heartfelt message, it's perfect for anyone celebrating their special day. Let them look into the mirror and see the reflection of your love and appreciation!</div>
    </div>
  </div>

  <div class="section i2">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/registered.svg?v=43752538119125845721707906749" alt="Ted Talks icon" width="70" height="70">
    <div class="content">
      <div class="heading" style="color:#057dae;">Ted Talks Collection</div>
      <div class="text texting">Discover a world of knowledge with our Ted Talks Collection. Featuring insightful and inspiring talks from the world's leading thinkers, this collection offers endless learning opportunities. Perfect for anyone looking to expand their horizons and engage with thought-provoking ideas.</div>
    </div>
  </div>

  <div class="section i3">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/parachute.svg?v=66197217689237056331707906748" alt="Best Friend Medal icon" width="70" height="70">
    <div class="content i4">
      <div class="heading" style="color:#057dae;">Best Friend Medal</div>
      <div class="text texting">Show your appreciation for your best friend with the Best Friend Medal. This beautifully crafted medal is a perfect gift to celebrate friendship. Whether it's for a birthday, anniversary, or just to say thank you, it's a meaningful way to honor that special bond.</div>
    </div>
  </div>

  <div class="section">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/headphones.svg?v=122077724091530129401707906749" alt="Birthday Glitter Bomb icon" width="70" height="70">
    <div class="content">
      <div class="heading" style="color:#057dae;">Birthday Glitter Bomb</div>
      <div class="text texting">Surprise and delight with our Birthday Glitter Bomb! This fun and exciting gift explodes with colorful glitter, adding an extra layer of excitement to any birthday celebration. It’s the perfect way to make their special day even more memorable!</div>
    </div>
  </div>

  <div class="section">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/parachute.svg?v=66197217689237056331707906748" alt="Cuddles icon" width="70" height="70">
    <div class="content">
      <div class="heading" style="color:#057dae;">Cuddles Gift Set</div>
      <div class="text texting">Wrap your loved ones in warmth and comfort with our Cuddles Gift Set. Featuring cozy blankets, soft pillows, and comforting accessories, this set is perfect for relaxing evenings. It’s the ultimate way to show someone you care and want them to feel cozy and loved.</div>
    </div>
  </div>

  <div class="section">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/star.svg?v=145747914973074610631707906749" alt="Wellness Calendar icon" width="70" height="70">
    <div class="content">
      <div class="heading" style="color:#057dae;">Wellness Calendar</div>
      <div class="text texting">Our Wellness Calendar is designed to help you prioritize self-care and mental well-being. With daily tips, reminders, and activities, this calendar encourages a balanced and healthy lifestyle. Perfect for anyone looking to take their wellness journey to the next level.</div>
    </div>
  </div>

  <div class="section">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/registered.svg?v=43752538119125845721707906749" alt="Christmas Carol Audio Card icon" width="70" height="70">
    <div class="content">
      <div class="heading" style="color:#057dae;">Christmas Carol Audio Card</div>
      <div class="text texting">Spread holiday cheer with our Christmas Carol Audio Card. This festive card plays traditional Christmas carols, bringing the spirit of the season right to your loved ones. A wonderful addition to any holiday gift, it’s a fun and unique way to share joy.</div>
    </div>
  </div>

  <div class="section">
    <img class="lazyload" src="//www.star-registration.in/cdn/shop/t/28/assets/parachute.svg?v=66197217689237056331707906748" alt="Couples Adventure Calendar icon" width="70" height="70">
    <div class="content">
      <div class="heading" style="color:#057dae;">Couples Adventure Calendar</div>
      <div class="text texting">The Couples Adventure Calendar is the perfect gift for any couple looking to add excitement and adventure to their relationship. With fun date ideas and challenges, this calendar ensures you create lasting memories together. Every day brings something new and exciting for you both to enjoy.</div>
    </div>
  </div>

  <!-- <div class="data-image d-1">
    <img class="d-2" style="margin-left:250px" src="https://www.example.com/path/to/gift-package-image.png" width="1200px" height="600px" alt="Gift Package" loading="lazy">
  </div> -->

  <div class="middle-matter">
    <h2>A TRUSTED BRAND</h2>
    <div class="star-rating">
      <span class="star">&#x2605;</span>
      <span class="star">&#x2605;</span>
      <span class="star">&#x2605;</span>
      <span class="star">&#x2605;</span>
      <span class="star">&#x2605;</span>
    </div>
    <p class="mt-3">on Trustpilot</p>
  </div>

  <div class="middle-matter-1">
    <p>Our mission is to provide unique, lasting gifts to our customers. With over 50,000 certificates issued, we've brought joy to families worldwide. Join our family today!</p>
  </div>

  <app-middle></app-middle>
  <app-gallery></app-gallery>
  <app-whystarreg></app-whystarreg>


