<!--
    <div class="container">
        <h1 class="text-center">Shipping Policy</h1>
        <h1>How to order?</h1>
        <p>Go to our <a routerLink="/order"> Order page</a> and choose from various star options available.</p>
        <p>Once ready, give your star a name, add a personal message, select registration date, and choose from such options as star brightness degree, the specific constellation, or last-minute .PDF only version. Add to Cart and proceed to Checkout.</p>
        <p>Fill in your personal data, delivery information, and payment information. Choose the delivery method, review your order info, and place an order!</p>

        <h2>Shipping and delivery</h2>
        <p>Once we receive your payment, we proceed with preparing your Star Gift Package. Payments usually come through within a couple of minutes, except bank transfers, which can take around 2-3 business days.</p>
        <p>On average, it takes us from 1 to 3 business days to prepare the product individually and ship it. Still, more than half of our products are shipped Minimum 3 days and Maximum 7 business days.</p>
        <p>If you have selected the .PDF Only star gifting option, you can disregard the following points – a printable gift version will be sent to you via email automatically after we receive your payment.</p>
        <p>If you need any more information, you can read full Shipping and Delivery terms.</p>
    </div>
     -->




     <div class="container my-5">

      <!-- Shipping Policy Heading -->
      <div class="row">
          <div class="col-12">
              <h1 class="text-center">Shipping Policy</h1>
          </div>
      </div>

      <!-- Shipping Policy Content -->
      <div class="row">
          <div class="col-12">
              <p>At <strong>anystarregistraion.com</strong>, we understand that personalized gifts hold significant value, especially when delivered on time. To ensure that your experience is seamless, we prioritize fast order processing and collaborate with only the best courier companies in the industry.</p>
              <p>We make every effort to obtain customer approval on design before proceeding with production. In turn, we kindly ask our customers to respond promptly to ensure that your customized item is shipped as quickly as possible.</p>
              <p>Once your order is shipped, we provide you with a tracking ID, allowing you to track your shipment and follow up directly with the courier company. If there is any delay on the part of the courier, we are committed to assisting you. However, please note that <strong>anystarregistration.com</strong> legal responsibility is considered fulfilled once the shipment has been dispatched.</p>
          </div>
      </div>

  </div>
