<div class="container">
    <h1 class="text-center mt-5"  style="color: #007bff;">How to order?</h1>
    <ol>
        <li>Go to our <a routerLink="/drop">Order page</a> and choose from various star options available.</li>
        <li>Once ready, give your star a name, add a personal message, select registration date, and choose from such options as star brightness degree, the specific constellation, or last-minute .PDF only version. Add to Cart and proceed to Checkout.</li>
        <li>Fill in your personal data, delivery information, and payment information. Choose the delivery method, review your order info, and place an order!</li>
    </ol>
</div>

<!-- <div class="container mt-5">
    <h2  style="color: #007bff;">Return policy</h2>
    <h3>General terms on Cancellation of an Order</h3>
    <p>The customer has the legal right to cancel his or her order within 30 days after receipt of the service based on reasonable grounds.</p>
    <p>If the purchase was damaged or containing faulty information, the customer has a legal right to demand repeated service delivery free of charge.</p>

    <h3  style="color: #007bff;">General terms on Refunds</h3>
    <p>The customer has a legal right to demand and receive a refund after canceled order based on reasonable grounds.</p>
    <p>The customer has legal rights to receive a full refund within 7 days after the order has been approved as canceled.</p>
    <p>Refunded money will be transferred back to the same payment account from which the payment was initially received.</p>

    <p>If You still are unsure of how cancellation and returns work, you can read full return policy terms.</p>
</div> -->

<div class="container mt-5">
    <h2  style="color: #007bff;">Shipping and delivery</h2>
    <p >Once we receive your payment, we proceed with preparing your Star Gift Package. Payments usually come through within a couple of minutes, except bank transfers, which can take around 2-3 business days.</p>
    <p>On average, it takes us from 1 to 3 business days to prepare the product individually and ship it. Still, more than half of our products are shipped within 2 or even 1 business day.</p>
    <p><em>If you have selected .PDF Only star gifting option, you can disregard the following points – printable gift version will be sent to you via e-mail automatically after we receive your payment.</em></p>
    <p>If you need any more information, you can read full Shipping and Delivery terms.</p>
</div>





































